<footer class="footer">
  <article class="footer-container">
    <article class="footer-one-container">
      <div class="capa-footer-one"></div>
      <article class="footer-one">
        <h3 class="footer-h3 h3-title">
          ¿Necesitas ayuda profesional? ¡Trabajemos juntos!
        </h3>
        <div class="footer-contacto link-download">
          <a href="../contacto.html">Contáctame</a>
          <img src="../assets/img/download-circle.svg" alt="#" />
        </div>
      </article>
    </article>

    <article data-dark class="footer-two">
      <article class="footer-two-container">
        <div class="footer-two-info">
          <h5 class="h5-title">Ponte en contacto</h5>
          <a href="mailto:lautarodm98@gmail.com">lautarodm98@gmail.com</a>
        </div>
        <div class="footer-two-info">
          <h5 class="h5-title">Donde estoy?</h5>
          <a
            href="https://www.google.com/maps/place/Ituzaing%C3%B3+575,+X5000+C%C3%B3rdoba/@-31.4238032,-64.1866589,17z/data=!3m1!4b1!4m6!3m5!1s0x9432a28fef8a2535:0xf51b71c09619d0ec!8m2!3d-31.4238078!4d-64.1840786!16s%2Fg%2F11jtyhpdgw?authuser=0"
            target="_blank"
            >Córdoba - Argentina</a
          >
        </div>
        <div class="footer-two-redes">
          <a
            href="https://www.linkedin.com/in/lautaro-della-mea/"
            target="_blank"
            ><i data-dark class="fa-brands fa-linkedin-in"></i
          ></a>
          <a data-dark href="https://github.com/lautarodellamea" target="_blank"
            ><i class="fa-brands fa-github"></i
          ></a>
          <a
            data-dark
            href="http://api.whatsapp.com/send?phone=543585106415"
            target="_blank"
            ><i class="fa-brands fa-whatsapp"></i
          ></a>
          <a
            data-dark
            href="https://www.instagram.com/lautidellamea/"
            target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a data-dark href="https://t.me/lndmg" target="_blank"
            ><i class="fa-brands fa-telegram"></i
          ></a>
        </div>
      </article>
    </article>
  </article>
</footer>
